streamlit
pandas
numpy==1.24.3  # Choose a compatible version
scipy==1.10.1  # Choose a compatible version
pmdarima==1.8.5  # Ensure this version is compatible with your NumPy version
matplotlib
openpyxl  # Required for reading Excel files
